@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}

.container {
  position: absolute;
  display: flex;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}

.right {
  height: 80vh;
  width: 50%;
  align-items: center;
  margin-right: 50px;
}

.down {
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  width: 77%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: -3px 10px 6px -3px rgba(0, 0, 0, 0.52)
}

.up button {
  width: 76%;
  height: 48px;
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  background-color: hsl(248, 32%, 49%);
  border-radius: 7px;
  font-size: 9px;
  box-shadow: -6px 15px 3px -6px rgba(150, 150, 150, 0.55)
}

.up button:hover {
  transition: 0.5s;
  background-color: hsl(248, 58%, 34%);
}

.up h2 {
  color: white;
}

.up span {
  color: hsl(246, 25%, 77%);
}

form {
  display: flex;
  flex-direction: column;

  align-items: center;
}

form .input-1 {
  height: 45px;
  width: 370px;
  margin-top: 30px;
  border: none;
  border: 1px solid hsl(246, 38%, 89%);
  border-radius: 4px;
  padding-left: 20px;
}

form .input-1:focus {
  outline: 1px solid hsl(248, 13%, 64%);
}


form button {
  margin-top: 8%;
  height: 50px;
  width: 390px;
  cursor: pointer;
  color: white;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border: 1px solid gray;
  border-radius: 3px;
  text-transform: uppercase;
}

form button:hover {
  transition: 0.5s;
  background-color: hsl(154, 67%, 64%);
}

.left {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 60px;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.left h1 {
  width: 70%;
  margin-left: 120px;
  font-weight: bold;
  font-size: 45px;
}

.left p {
  width: 90%;
  margin-left: 120px;
  font-size: 16px;
}

.last p {
  margin-top: 4%;
  font-size: 10px;
  color: hsl(246, 25%, 77%)
}

.last a {
  color: hsl(0, 100%, 74%) ;
  text-decoration: none;
  font-weight: 600;
}

